 <div class="container-fluid  bg-light  navbar-light">
    <div class="container ">
      <footer class="navbar navbar-expand-lg">

        <div class="">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-uppercase font-weight-bold" href="https://www.facebook.com/varun.reddy.7927408">
                <img src="img/Facebook.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold" href="#"><img src="img/Twitter.png"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold" href="#"><img src="img/Mail.jpg"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase font-weight-bold" href="#"><img src="img/Call.jpg"></a>
            </li>
          
          </ul>
        </div>
        <div class="ml-auto">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Copyright. All rights reserved</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>