<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img src="/img/logo.png" class="logoimg" alt="Logo" width="150px" margin-top="-33px" margin-bottom= "-26px"></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-uppercase font-weight-bolder active" aria-current="page" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold " href="#">Upcoming Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase font-weight-bold " href="#">Profile</a>
        </li>
        
      </ul>
      
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Location
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Montreal</a></li>
    <li><a class="dropdown-item" href="#">Toranto</a></li>
    <li><a class="dropdown-item" href="#">Ottawa</a></li>
  </ul>
</div>





      <form class="d-flex">
      <a class="nav-link text-uppercase font-weight-bold " href="#">
       <img src="/img/Cart.png" width="30" height= "30"class="mx-3">
       </a>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>

      </form>
      <span></span>
      <ul class="navbar-nav mb-lg-0">
      <li>
		<button class="btn btn-outline-success my-2 my-sm-0" onclick="logout()">Logout</button>
		<li>
	</ul>
    </div>
  </div>
</nav>
</header>

