<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Shows</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/home.css" />
    <script src="/js/home.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div>
      <p>Welcome to My Shows</p>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
