<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Shows</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body class="login_bg">
    <%- include('admin-header'); -%>
    <br>
    <br>

    <div class="container_form" id= "login_div">
      <h3>Update Movie</h3>

      <hr>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Enter movie Name" id="name" onblur="onInputFieldChange(event)" required>
      <p class="validation-message">Please fill Name</p>

      <label for="color"><b>Description</b></label>
      <input type="text" placeholder="Enter movie description" id="description" onblur="onInputFieldChange(event)" required>
      <p class="validation-message">Please fill Description</p>

      <label for="type"><b>Genre</b></label>
      <p>
        <select name="genre" class="btn-create" id="genre" onchange="onInputFieldChange(event)">
          <option disabled selected value=''>Genre</option>
          <% ['Action', 'Adventure', 'Animation', 'Comedy', 'Family', 'Fantasy', 'Horror', 'Romance','Thriller'].forEach(genre => { %>
            <option value="<%= genre %>" class="dropdown-options"><%= genre %></option>
          <% }) %>
        </select>
      </p>
      <p class="validation-message">Please select Genre</p>

      <label for="model"><b>Language</b></label>
      <p>
        <select name="language" class="btn-create" id="language" onchange="onInputFieldChange(event)">
          <option disabled selected value=''>Language</option>
          <% ['English', 'French', 'Hindi', 'Telugu'].forEach(language => { %>
            <option value="<%= language %>" class="dropdown-options"><%= language %></option>
          <% }) %>
        </select>
      </p>
      <p class="validation-message">Please select Language</p>

      <label for="amount"><b>Amount per ticket</b></label>
      <input type="number" placeholder="Enter ticket Amount" id="amount" min="0" minlength="4" maxlength="4" onblur="onInputFieldChange(event)" required>
      <p class="validation-message">Please fill ticket price</p>

      <label for="image_name"><b>Image Name</b></label>
      <input type="text" placeholder="Enter movie Image Name" id="image_name" onblur="onInputFieldChange(event)" required>
      <p class="validation-message">Please fill Movie Image Name</p>

      <br>

      <button class="login_btn" type="button" onclick="submitCreateMovie(event)">ADD</button>
    </div>

    <br>
    <br>

    <%- include('footer'); -%>
  </body>
</html>
