img.logoimg {
  margin-top: -33px;
  margin-bottom: -26px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
  margin: 20px;
}


.navbar-expand-lg .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
  font-weight: bold;
}

.row.content {
  height: 100vh;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.movie-list.card {
  display: none;
  width: 33%;
  padding: 10px;
  margin: 20px;
}

.movie-list.card.show {
  display: inline-block;
}

.movie-list.card.hide {
  display: none;
}

.main-content {
  height: 100%;
  overflow: auto;
}

.dropdown-menu {
  max-height: 40vh;
  overflow: auto;
}

select {
  width: 120px;
  text-transform: capitalize !important;
}

select:hover, select:focus {
  outline: none;
}
